body {
    background: #f3f9fb;

}

.botoestopo {
    background-color: #162749;
    color: white;
    border: 1px solid #162749;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.botoestopo:hover {
    background-color: #d6eef7;
    color: #162749;
    border: 1px solid #d6eef7;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.botoestopo:active {
    background-color: #074898;
    color: white;
    border: 1px solid #074898;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
}

#principal {
    /* border: 1px solid black;*/

    padding: 5px;
    height: 110px;
    flex-direction: row;
    display: flex;
    /* alinha horizontamente ao centro*/
    justify-content: center;
    /* para que os filhos sejam absolutos o pai tem que ser relativo*/
    position: relative;

}


.linkspage {

    position: absolute;
    top: 90px;
    right: 4px;


}

#barra {
    background-color: #162749;
    width: auto;
    height: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.pesquisa-box {
    border-radius: 8px;
    width: 250px;
    padding: 2px;
}

/*div container card*/
.img-principal-layout {

    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/*card*/
.img-conteudo1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    width: 200px;
    height: 450px;
    float: left;
    position: relative;
    background-color: #d6eef7;
    margin: 10px 20px;
}

/*ajuste dentro do card*/
.img-layout-indivi {
    padding-top: 5px;
    padding-left: 25px;

}

.imgcards {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.descricaoreferencias {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(17, 53, 53);
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.listaprecodesc {
    list-style-type: none;
    padding: 0%;
}

#barralooks {
    border: none;
    height: 25px;
    font-size: 2rem;
    font-weight: bold;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #162749;

}

/*classe para descrição dos cards*/
.descricaoestilo {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #162749;
}

/*classe para os preços das referencias*/
.precoref {
    color: #7d98cd;
}

/*classe para o botão dos cards*/
.buttomcard {
    border-style: none;
    padding: 4px 8px;
    border-radius: 10px;
    background: #162749;
    color: #d6eef7;
    font-size: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alinhariconesacola {

    width: 200;
    display: flex;
    justify-content: center;
    align-items: center;

}



#conteudomeio {
    background-color: #162749;
    height: 600px;
    padding: 10px 0px;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*formatação da escrita do container do meio*/
#escritaconteudo3 {

    color: #58c5da;
    /*#d6eef7;*/
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

/*cards do conteudo do meio,utilizei para alinhar no centro*/
#conteudomeiocard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/*ajustes internos dos card e tbm na posição dos cards,deixando um a direita do outro*/
.ajustarcardmeio {

    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    margin: 0px 20px 90px 20px;

}

.ajusteh1conteudomeio {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #82d3e3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.just-and-style-p-contmeio {
    text-align: center;
    font-size: 1.2rem;
    color: #d5f0f6;
    font-family: 'Segoe UI';
}

#divterceiroconteudo {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo3cards {

    float: left;
    color: #060231;
    width: 300px;
    height: 200px;
    padding-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 0px 10px;


}

.iconsconteudo3 {
    font-size: 50px;
}

#container-4-conteudo {
    height: 600px;
    position: relative;
}

#imgconteudo4 {
    position: absolute;
    top: 20px;
    right: 70px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#paragrafoconteudo4 {
    width: 700px;
    display: flex;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e5a70;

}

#conteudo4brecho {
    font-size: 3rem;
    padding-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(28, 17, 143);
}

#conteudo4link {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(28, 17, 143);
    border: 1px solid rgb(28, 17, 143);
    border-radius: 8px;
    padding: 8px;
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#conteudo4link:link {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(28, 17, 143);
    border: 1px solid rgb(28, 17, 143);
    border-radius: 8px;
    padding: 8px;
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#conteudo4link:hover {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(136, 25, 247);
    border: 1px solid rgb(136, 25, 247);
    border-radius: 8px;
    padding: 8px;
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#conteudo4link:active {
    text-decoration: none;
    font-size: 1.5rem;
    color: #0c84ee;
    border: 1px solid rgb(12, 132, 238);
    border-radius: 8px;
    padding: 8px;
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rodape {
    height: 200px;

    background: #d4e1ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}

.cardsrodape {
    width: 300px;
    height: 100px;

    float: left;


}

.ajustarcardsrodape {
    margin-top: 8px;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #11497b;
}

.ajustartitulosrodape {
    font-weight: bold;
    padding-bottom: 8px;
    color: #0b179b;
}

.linksrodape {
    font-size: 1.2rem;
    text-decoration: none;
    color: #073b69;
}

.linksrodape:link {
    font-size: 1.2rem;
    text-decoration: none;

}

.linksrodape:hover {
    font-size: 1.2rem;
    text-decoration: underline;
    color: #0b179b;


}

.linksrodape:active {
    font-size: 1.2rem;
    text-decoration: none;
    color: color(srgb red green blue);
}

#bottomhome {
    background-color: #a5b5d5;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #060231;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*pagina sobre*/
#containerincialpaginasobre {
    border-radius: 16px;
    height: 500px;
    display: flex;
    position: relative;
    background-image: url(imagens/fundosobre.jpg);
    align-items: center;
    justify-content: center;

}

#cardinicialpaginasobre {

    width: 600px;
    height: 400px;
    font-size: 2rem;
    text-align: center;
    color: rgb(6, 6, 81);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: 600;


}

#cabecalhocontainer2 {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(20, 13, 99);
    display: flex;
    align-items: center;
    justify-content: center;


}


.container2paginasobre {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.cardvalorespaginasobre {

    height: 300px;
    width: 500px;
    float: left;
    margin: 20px;
    background-color: rgb(193, 217, 239);
    color: rgb(6, 6, 81);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    font-size: 1.7rem;
    border-radius: 8px;
}

.cardvalorespaginasobre:hover {
    color: rgb(193, 217, 239);
    background-color: rgb(6, 6, 81);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#container3paginasobre{
    border: 1px solid navy;
}


/*.img-conteudo2{

clear:both;
}
.img-conteudo3{
border: 1px solid black;
width: 200px;
height: 400px;
float: ;
}*/